<div class='post_wrapper'>
  <div class='post_title'>
    <h1>アカウント新規作成</h1><br />
    <p><%= link_to 'アカウントにログイン', new_user_session_path %></p>
  </div>
  <div class='post_container'>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname %><br /><br />
        <%= f.text_field :nickname, placeholder: 'ニックネームを入力してください', autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br /><br />
        <%= f.email_field :email, placeholder: 'emailを入力してください' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br /><br />
        <%= f.password_field :password, placeholder: 'パスワードを入力してください' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br /><br />
        <%= f.password_field :password_confirmation, placeholder: 'パスワードを再入力してください' %>
      </div>

      <div class="actions">
        <%= f.submit "新規作成", class: 'submit_btn' %>
      </div>
    <% end %>

    <div class='back_btn'>
      <%= link_to root_path do %>
        <i class="fa fa-hand-o-left" aria-hidden="true"></i>戻る
      <% end %>
    </div>
  </div>
</div>
