<div class='post_wrapper'>
  <div class='post_title'>
    <h1>PlanDesignにログイン</h1><br />
    <p><%= link_to 'アカウント新規作成', new_user_registration_path %></p>
  </div>
  <div class='sign_container'>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, placeholder: 'emailを入力してください', autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, placeholder: 'パスワードを入力してください' %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: 'submit_btn' %>
      </div>
    <% end %>

  </div>
</div>
