<%= render 'layouts/header' %>

<div class='post_wrapper_plan'>
  <div class='post_title'>
    <h1>プラン名変更</h1>
  </div>
  <div class='post_container'>
    <%= form_with model: @plan, local: true do |f| %>

      <div class="field">
        <%= f.label :title %><br /><br />
        <%= f.text_field :title, placeholder: 'プランを入力してください', autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "プラン編集", class: 'submit_btn' %>
      </div>
    <% end %>

    <div class='back_btn'>
      <%= link_to root_path do %>
        <i class="fa fa-hand-o-left" aria-hidden="true"></i>戻る
      <% end %>
    </div>
    
  </div>
</div>