<%= render 'layouts/header' %>

<div class='post_wrapper_plan'>
  <div class='post_title'>
    <h1>詳細内容追加</h1>
  </div>
  <div class='post_container'>
    <%= form_with model: @detail, url: { action: :create }, local: true do |f| %>

      <div class="field">
        <%= f.label '詳細概要' %><br /><br />
        <%= f.text_field :title, placeholder: '詳細の概要を入力してください', autofocus: true %>
      </div>

      <div class="field">
        <%= f.label '詳細内容' %><br /><br />
        <%= f.text_area :text, placeholder: '詳細内容を入力してください' %>
      </div>

      <div class="actions">
        <%= f.submit "詳細を追加", class: 'submit_btn' %>
      </div>

      <div class='back_btn'>
        <%= link_to :back do %>
        <i class="fa fa-hand-o-left" aria-hidden="true"></i>戻る
      <% end %>
    </div>
    <% end %>
  </div>
</div>