<header>
  <div class='header_nav'>
    <ul class='nav_menu'>
      <li class='nav_menu_title'><%= link_to 'PlanDesign', root_path %></li>
      <li>
        <ul class="nav_menu_item">
          <% if user_signed_in? %>
            <li class='nav_link'><%= link_to '新規作成', new_plan_path %></li>
            <li class='nav_link'><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class='nav_link'><%= link_to '新規登録', new_user_registration_path %></li>
            <li class='nav_link'><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</header>